numpy
scipy
matplotlib
sounddevice
pyinstaller
tkinterdnd2
opencv-python
pillow
pywebview
cryptography
fonttools
mss
PyGetWindow
python-magic
pydub
moviepy
PyMuPDF
psutil
pyautogui
winshell
pywin32
llama-cpp-python
